.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #25d366; /* Verde de WhatsApp */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    text-decoration: none;
  }
  
  .whatsapp-icon {
    width: 40px;
    height: 40px;
  }
  
  .whatsapp-float:hover {
    background-color: #20bd5a; /* Un verde más oscuro al pasar el mouse */
  }